<!DOCTYPE html>
<html>
<head>
<style>

</style>
</head>
<body>

    <main id="pages-admin">

        <h1>Admin page</h1>


                        <%=form_with do |form|%>
                            <div class="field">
                                <h5> 
                                <%= form.submit "Reset leaderboard" %>
                                </h5>
                            </div>
                        <% end %>


            <section class="user-list">
                <%@users.each do |user|%>
                    <div class="card <%=user[:admin]%>">
                        <h5>ID: <%=user[:id]%></h5>
                        <h5>Email: <%=user[:email]%></h5>
                        <h5>Admin: <%=user[:admin]%></h5>
                        <h5>username: <%=user[:username]%></h5>
                        <%=form_with do |form|%>
                            <div class="field">
                                <h5> 
                                <%= hidden_field_tag :user_id, user[:id]%>
                                <%= form.submit "Delete User" %>
                                </h5>
                            </div>
                        <% end %>
                    </div>
                <%end%>
            </section>

    </main>

</body>
</html>