<!DOCTYPE html>
<html>
<head>
<style>

</style>
</head>
<body>

    <main id="pages-my_holding">

        <h1>My holdings</h1>
        <h2>message: <%= @message %></h2>

            <section class="holding-list">
                <%cash = 0%>
                <%@holding.each do |hold|%>
                    <%if current_user.id == hold[:owner_users_ID]%>
                        <%if hold[:stock_code] == "AUD"%>
                            <% cash = hold[:quantity]%>
                        <%else%>
                            <div class="card">                         
                                <h5>stock: <%=hold[:stock_code]%></h5>
                                <h5>quantity: <%=hold[:quantity]%></h5>
                                <h5>asking: %<%=hold[:asking].to_f/10%></h5>
                                <%= form_tag(change_asking_path) do %>
                                    <div class="field">
                                        
                                        <%= text_field_tag(:asking) %>
                                    </div>
                                <% end %>
                                <h5> </h5>
                            </div>                      
                        <%end%>

                    <%end%>
                <%end%>
                <div class="card">
                    <h5>$<%=cash%></h5>
                </div>                 
        </section>

    </main>

</body>
</html>