<!DOCTYPE html>
<html>
<head>
<style>

</style>
</head>
<body>

    <main id="pages-trade">

        <h1>Trade</h1>

            <section class="trade-list">
                <%@holding.each do |trade|%>
                    <%if current_user.id != trade[:owner_users_ID]%>
                        <%if trade[:stock_code] != "AUD"%>
                            <div class="card n<%=trade[:asking].round(-1)%>">
                                <h5>Stock: <%=trade[:stock_code]%> Available: <%=trade[:quantity]%> </h5>
                                <%if trade[:asking] > 0%>
                                    <h5>Asking for maket value +<%=trade[:asking].to_f/10%>%</h5>
                                <%elsif trade[:asking] == 0%>
                                    <h5>Asking for maket value</h5>
                                <%else%>
                                    <h5>Asking for maket value <%=trade[:asking].to_f/10%>%</h5>
                                <%end%>
                                <%=form_with do |form|%>
                                    <%= hidden_field_tag :trade_id, trade[:id] %>                                  
                                    <%=form.submit "Open"%>
                                <%end%>
                                <h5> </h5>
                            </div>
                        <%end%>
                    <%end%>
                <%end%>
            </section>

    </main>

</body>
</html>